@media(max-width: 72rem){

}

@media(max-width: 51rem){
        nav {
            flex-direction: column;
            gap: 1.5rem;
        }
}

@media(max-width: 43rem){
    .act-grid{
        grid-auto-flow: row;
    }
    .table-container{
        padding-left: 18rem;
    }
}

@media(max-width: 34rem){

}