{% extends 'activities/../../../activities/templates/activities/index.html' %}

{% block title %}Manage accounts{% endblock %}

{% block content %}
    <h1 class="main-heading">Accounts</h1>

    <div class="admin-links">
        <a href="{% url 'admin_account_create' %}" class="btn">+ New account</a>
    </div>

    {% if accounts %}
        <div class="accounts-table">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                    <th>Admin?</th>
                    <th>Buttons</th>
                </tr>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.username }}</td>
                        <td>{{ account.profile.score }}</td>
                        <td>{% if account.is_staff %}Yes{% else %}No{% endif %}</td>
                        <td class="table-btns">
                            <a class="btn admin-btn" href="{% url 'admin_account_detail' account.id %}">Manage</a>
                            <a class="btn admin-btn danger-btn" href="{% url 'admin_account_delete' account.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


    {% else %}
        <p>No accounts yet.</p>
    {% endif %}
{% endblock %}