{% extends 'activities/../../../activities/templates/activities/index.html' %}

{% block title %}Manage {{ account.username }}{% endblock %}

{% block content %}
    <h1 class="main-heading">Manage {{ account.username }}</h1>
    <form method="post" class="admin-form">
        {% csrf_token %}
        {{ form.as_p }}

        <h3 class="sec-color-text">Enrolled activities</h3>
        <ul>
            {% for activity in all_activities %}
                <li>
                    <label>
                        <input type="checkbox" name="activities" value="{{ activity.id }}"
                            {% if activity.id in enrolled_ids %}checked{% endif %}>
                        {{ activity.name }} ({{ activity.week_date }})
                    </label>
                </li>
                <br>
            {% empty %}
                <li>No activities exist yet.</li>
            {% endfor %}
        </ul>
        <div>
            <button class="btn admin-btn" type="submit" >Save changes</button>
        </div>

    </form>
{% endblock %}
