{% extends 'activities/../../../activities/templates/activities/index.html' %}

{% block title %}Summer Calendar{% endblock %}

{% block content %}
    <h1>This Summer's Calendar</h1>
    <div class="cal">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Africa%2FCairo&mode=MONTH&showTz=0&showTitle=0&src=Z3JhY2VlbWFkMjAwNkBnbWFpbC5jb20&color=%237986cb"
                style="margin-bottom: 5rem; border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" ></iframe>
    </div>
{% endblock %}