{% extends 'activities/../../../activities/templates/activities/index.html' %}


{% block title %}Content{% endblock %}

{% block content %}
    <h1>🤩الخدمات اللى عندنا</h1>
    <div class="cont-container">
        <div class="info-content">
            <p>مدارس أحد</p>
            <p>أيادى</p>
            <p>ألعاب سيدات التلات</p>
            <p>كافيتريا</p>
            <p>سيدات سودانيات</p>
            <p>الصم</p>
            <p>نظافة الكنيسة</p>
        </div>
        <div class="score-content">
            <p>150</p>
            <p>180</p>
            <p>100</p>
            <p>200</p>
            <p>500</p>
            <p>100</p>
            <p>250</p>
        </div>
    </div>
{% endblock %}