{% extends 'activities/../../../activities/templates/activities/index.html' %}

{% block title %}Guidelines{% endblock %}

{% block content %}

    <h1 class="danger-link">⚠️ شوية تعليمات لنزول الخدمات</h1>
    <br>
    <ul>
        <li class="arabic-text"> الالتزام بمواعيد الحضور*</li>
        <br>
        <li class="arabic-text"> اكمال الخدمة للآخر إلا للظروف وبالاستإذان*</li>
        <br>
        <li class="arabic-text"> الالتزام بكلام قائد الخدمة*</li>
    <br><br>
    </ul>
    <p class="arabic-text danger-link">يتم الخصم من النقاط فى حالة عدم الالتزام بالتعليمات</p>
<br><br>
    <p class="arabic-text">😘اللى عنده استفسار او مشاكل يبعتلنا</p>

{% endblock %}