{% extends 'activities/base.html' %}

{% block title %}My Score{% endblock %}

{% block content %}
    <h1 class="main-heading">My Score</h1>
    <p class="score">{{ profile.score }}</p>

    <h3>My Enrollments</h3>
    <div class="act-grid">
        {% for enrollment in my_enrollments %}
            <div class="act-contents">
                <p>{{ enrollment.activity.name }}</p>
                <p>{{ enrollment.activity.week_date }}</p>
                <p>score: {{ enrollment.activity.points }}</p>
            </div>
        {% empty %}
            <p>You haven't enrolled in any activities yet.</p>
        {% endfor %}
    </div>
{% endblock %}
